<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
  <label for="drawer-toggle" id="drawer-toggle-label"></label>
  <div align="center" id="logo">
    <%= image_tag "gl4.png", alt: 'logo' %></div>
  <nav id="drawer">
    <ul>
      <li><%= link_to "Домой", home_path %></li>
      <li><%= link_to "О нас", help_path %></li>
      <% if logged_in? %>
        <li><%= link_to "Профиль", current_user %></li>
        <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
        <% if current_user.admin? %>
          <li><%= link_to "Все акккаунты", accounts_path %></li>
          <li><%= link_to "Новый аккаунт", "/accounts/new" %></li>
        <% end %>
        <li><%= link_to "Выйти", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Войти", login_path %></li>
      <% end %>
    </ul>
  </nav>
  <% unless notice.nil? %>
    <div id="notice">
      <h3 align="center"><%= notice %></h3>
    </div>
  <% end %>
  <div id="page-content">
    <%= yield %>
  </div>
  </body>
</html>
